<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TOI_Actions/src/toi_pack/TOI_Action_Demo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_APPEND_TO_FILE" value="true"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="F:\JAVAWS\TOI_Actions"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="toi_pack.TOI_Action_Demo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TOI_Actions"/>
</launchConfiguration>
